In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
ed = pd.read_excel('data/Education2023.xlsx',skiprows=3)
pop=pd.read_excel('data/PopulationEstimates.xlsx',skiprows=4)
pov=pd.read_excel('data/Poverty2023.xlsx',skiprows=4)
un=pd.read_excel('data/Unemployment2023.xlsx',skiprows=4)

In [25]:
ed_columns_to_keep = [
    "FIPS Code", "State", "Area name",  # Geographic Identifiers
    "2024 Urban Influence Code", 
    #"2023 Rural-urban Continuum Code",  # Urbanization & Influence
    # Educational Attainment, 2019-2023
    "Percent of adults who are not high school graduates, 2019-23",
    "Percent of adults who are high school graduates (or equivalent), 2019-23",
    "Percent of adults completing some college or associate degree, 2019-23",
    "Percent of adults with a bachelor's degree or higher, 2019-23",
    # Educational Attainment, 2008-2012
    # "Percent of adults who are not high school graduates, 2008-12",
    # "Percent of adults who are high school graduates (or equivalent), 2008-12",
    # "Percent of adults completing some college or associate degree, 2008-12",
    # "Percent of adults with a bachelor's degree or higher, 2008-12",
    # # Educational Attainment, 2000
    # "Percent of adults who are not high school graduates, 2000",
    # "Percent of adults who are high school graduates (or equivalent), 2000",
    # "Percent of adults completing some college or associate degree, 2000",
    # "Percent of adults with a bachelor's degree or higher, 2000",
    # # Educational Attainment, 1990
    # "Percent of adults who are not high school graduates, 1990",
    # "Percent of adults who are high school graduates (or equivalent), 1990",
    # "Percent of adults completing some college or associate degree, 1990",
    # "Percent of adults with a bachelor's degree or higher, 1990",
    # # Educational Attainment, 1980
    # "Percent of adults with less than a high school diploma, 1980",
    # "Percent of adults with a high school diploma only, 1980",
    # "Percent of adults completing some college (1-3 years), 1980",
    # "Percent of adults completing four years of college or higher, 1980",
    # # Educational Attainment, 1970
    # "Percent of adults with less than a high school diploma, 1970",
    # "Percent of adults with a high school diploma only, 1970",
    # "Percent of adults completing some college (1-3 years), 1970",
    # "Percent of adults completing four years of college or higher, 1970"
]
ed_filtered=ed[ed_columns_to_keep]

In [26]:
pov_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code", 
    #"Stabr", "Area_Name",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2024",
    # Economic Indicators/Poverty Metrics
    "MEDHHINC_2023", "PCTPOVALL_2023", 
    #"PCTPOV017_2023",
    #"PCTPOV517_2023", "PCTPOV04_2023"
]
pov_filtered=pov[pov_columns_to_keep]

In [27]:
pop_columns_to_keep = [
    # Geographic Identifiers
    "FIPStxt", "State", "Area_Name",
    # Economic Indicators
    "Economic_typology_2015",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_2013",
    # Population Metrics
    #"CENSUS_2020_POP",
     # "ESTIMATES_BASE_2020",
    # 2020-2023 Metrics
    #"POP_ESTIMATE_2021",
     # "N_POP_CHG_2021", 
    #"BIRTHS_2021",
    #"DEATHS_2021",
      "NATURAL_CHG_2021", 
    "DOMESTIC_MIG_2021",  "R_BIRTH_2021", 
    "R_NATURAL_CHG_2021", "R_INTERNATIONAL_MIG_2021", "R_DOMESTIC_MIG_2021"
    #, "R_NET_MIG_2021"
    #,"INTERNATIONAL_MIG_2021",
    #"NET_MIG_2021",
    #"R_DEATH_2021"
]
pop_filtered=pop[pop_columns_to_keep]

In [28]:
un_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code",
     # "State", "Area_Name",
    # Economic Indicators
    #"Median_Household_Income_2022"
    #"Med_HH_Income_Percent_of_State_Total_2022",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2013",
    #"Metro_2023",
    # Employment Metrics over 24 years
    #"Civilian_labor_force_2023",
     "Employed_2023",
      # "Unemployed_2023", 
      "Unemployment_rate_2023"
]
un_filtered=un[un_columns_to_keep]

In [29]:
def correlated_pairs(df, threshold=0.7):
    df=df.select_dtypes(include=['number'])
    # Calculate correlations
    corr_matrix = df.corr()
    
    # Convert to long format, keeping only high correlations
    correlations = []
    for col1 in corr_matrix.columns:
        for col2 in corr_matrix.columns:
            if col1 < col2:  # Avoid duplicate pairs and self-correlations
                corr_value = corr_matrix.loc[col1, col2]
                if abs(corr_value) >= threshold:
                    correlations.append({
                        'col1': col1,
                        'col2': col2,
                        'correlation': corr_value
                    })
    
    # Sort by absolute correlation value
    result = pd.DataFrame(correlations)
    if len(result) > 0:
        return result.sort_values(by='correlation', key=abs, ascending=False)
    else:
        print(f"No correlations found above threshold of {threshold}")
        return result

In [30]:
#ed_filtered
#pov_filtered
#pop_filtered
#un_filtered
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [31]:
correlated_pairs(pov_filtered)

            col1            col2  correlation
0  MEDHHINC_2023  PCTPOVALL_2023    -0.762752

In [32]:
correlated_pairs(pop_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [33]:
correlated_pairs(un_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [34]:
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [35]:
ed_filtered = ed_filtered.rename(columns={'FIPS Code': 'FIPS'})
pop_filtered = pop_filtered.rename(columns={'FIPStxt': 'FIPS'})
un_filtered = un_filtered.rename(columns={'FIPS_Code': 'FIPS'})
pov_filtered = pov_filtered.rename(columns={'FIPS_Code': 'FIPS'})

# Merge all dataframes on 'FIPS'
merged = ed_filtered.merge(pop_filtered, on='FIPS')\
                       .merge(un_filtered, on='FIPS')\
                       .merge(pov_filtered, on='FIPS')
print(merged.shape)
correlated_pairs(merged)

(3195, 21)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.811720
3,MEDHHINC_2023,PCTPOVALL_2023,-0.762752
1,Employed_2023,NATURAL_CHG_2021,0.756382
2,MEDHHINC_2023,Percent of adults with a bachelor's degree or ...,0.728667

In [36]:
merged

,FIPS,State_x,Area name,2024 Urban Influence Code,"Percent of adults who are not high school graduates, 2019-23","Percent of adults who are high school graduates (or equivalent), 2019-23","Percent of adults completing some college or associate degree, 2019-23","Percent of adults with a bachelor's degree or higher, 2019-23",State_y,Area_Name,...,NATURAL_CHG_2021,DOMESTIC_MIG_2021,R_BIRTH_2021,R_NATURAL_CHG_2021,R_INTERNATIONAL_MIG_2021,R_DOMESTIC_MIG_2021,Employed_2023,Unemployment_rate_2023,MEDHHINC_2023,PCTPOVALL_2023
0,0,US,United States,NaN,10.607067,26.194137,28.197846,35.000950,US,United States,...,146036.0,0.0,10.8,0.4,1.1,0.0,160623678.0,3.6,77719.0,12.5
1,1000,AL,Alabama,NaN,11.871959,30.344616,30.028286,27.755139,AL,Alabama,...,-11951.0,27715.0,11.3,-2.4,0.4,5.5,2250472.0,2.5,62248.0,15.7
2,1001,AL,Autauga County,4.0,9.721098,32.675939,29.320284,28.282680,AL,Autauga County,...,-10.0,242.0,11.6,-0.2,0.3,4.1,26409.0,2.2,68857.0,11.7
3,1003,AL,Baldwin County,4.0,8.268600,27.542038,31.391725,32.797637,AL,Baldwin County,...,-611.0,6972.0,9.9,-2.6,0.4,29.5,102029.0,2.3,74248.0,10.0
4,1005,AL,Barbour County,5.0,22.186295,37.604947,28.744044,11.464715,AL,Barbour County,...,-120.0,-313.0,10.9,-4.8,0.0,-12.6,7592.0,4.4,45298.0,25.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,56037,WY,Sweetwater County,7.0,7.468835,31.147245,41.008130,20.375790,WY,Sweetwater County,...,69.0,-642.0,10.9,1.6,0.4,-15.3,19575.0,3.3,76442.0,10.0
3191,56039,WY,Teton County,7.0,2.840434,16.145920,19.793929,61.219716,WY,Teton County,...,110.0,106.0,8.9,4.7,0.3,4.5,16955.0,2.1,130156.0,6.2
3192,56041,WY,Uinta County,7.0,5.393292,35.990140,37.297378,21.319190,WY,Uinta County,...,66.0,148.0,11.4,3.2,0.0,7.2,8807.0,3.2,79086.0,10.3
3193,56043,WY,Washakie County,9.0,8.580258,30.267224,39.120160,22.032358,WY,Washakie County,...,-28.0,92.0,9.0,-3.6,0.0,12.0,3716.0,3.3,62794.0,12.3
3194,56045,WY,Weston County,9.0,8.399209,36.462451,37.094862,18.043478,WY,Weston County,...,-50.0,-25.0,7.2,-7.4,0.1,-3.7,3795.0,2.1,66429.0,11.4

In [23]:
mcorr[mcorr['correlation'] == 1]

,col1,col2,correlation
738,Rural_Urban_Continuum_Code_2023,Rural_Urban_Continuum_Code_2023_x,1.0
210,Urban_Influence_2013,Urban_Influence_Code_2013,1.0
97,2023 Rural-urban Continuum Code,Rural_Urban_Continuum_Code_2023_y,1.0
104,2023 Rural-urban Continuum Code,Rural_Urban_Continuum_Code_2023,1.0
740,Rural_Urban_Continuum_Code_2023,Rural_Urban_Continuum_Code_2023_y,1.0
205,Rural_Urban_Continuum_Code_2023_x,Rural_Urban_Continuum_Code_2023_y,1.0
65,2024 Urban Influence Code,Urban_Influence_Code_2024,1.0
77,2023 Rural-urban Continuum Code,Rural_Urban_Continuum_Code_2023_x,1.0