In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
ed = pd.read_excel('data/Education2023.xlsx',skiprows=3)
pop=pd.read_excel('data/PopulationEstimates.xlsx',skiprows=4)
pov=pd.read_excel('data/Poverty2023.xlsx',skiprows=4)
un=pd.read_excel('data/Unemployment2023.xlsx',skiprows=4)

In [5]:
ed_columns_to_keep = [
    "FIPS Code", "State", "Area name",  # Geographic Identifiers
    "2024 Urban Influence Code", 
    #"2023 Rural-urban Continuum Code",  # Urbanization & Influence
    # Educational Attainment, 2019-2023
    "Percent of adults who are not high school graduates, 2019-23",
    "Percent of adults who are high school graduates (or equivalent), 2019-23",
    "Percent of adults completing some college or associate degree, 2019-23",
    "Percent of adults with a bachelor's degree or higher, 2019-23",
    # Educational Attainment, 2008-2012
    # "Percent of adults who are not high school graduates, 2008-12",
    # "Percent of adults who are high school graduates (or equivalent), 2008-12",
    # "Percent of adults completing some college or associate degree, 2008-12",
    # "Percent of adults with a bachelor's degree or higher, 2008-12",
    # # Educational Attainment, 2000
    # "Percent of adults who are not high school graduates, 2000",
    # "Percent of adults who are high school graduates (or equivalent), 2000",
    # "Percent of adults completing some college or associate degree, 2000",
    # "Percent of adults with a bachelor's degree or higher, 2000",
    # # Educational Attainment, 1990
    # "Percent of adults who are not high school graduates, 1990",
    # "Percent of adults who are high school graduates (or equivalent), 1990",
    # "Percent of adults completing some college or associate degree, 1990",
    # "Percent of adults with a bachelor's degree or higher, 1990",
    # # Educational Attainment, 1980
    # "Percent of adults with less than a high school diploma, 1980",
    # "Percent of adults with a high school diploma only, 1980",
    # "Percent of adults completing some college (1-3 years), 1980",
    # "Percent of adults completing four years of college or higher, 1980",
    # # Educational Attainment, 1970
    # "Percent of adults with less than a high school diploma, 1970",
    # "Percent of adults with a high school diploma only, 1970",
    # "Percent of adults completing some college (1-3 years), 1970",
    # "Percent of adults completing four years of college or higher, 1970"
]
ed_filtered=ed[ed_columns_to_keep]

In [6]:
pov_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code", 
    #"Stabr", "Area_Name",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2024",
    # Economic Indicators/Poverty Metrics
    "MEDHHINC_2023", "PCTPOVALL_2023", 
    #"PCTPOV017_2023",
    #"PCTPOV517_2023", "PCTPOV04_2023"
]
pov_filtered=pov[pov_columns_to_keep]

In [7]:
pop_columns_to_keep = [
    # Geographic Identifiers
    "FIPStxt", "State", "Area_Name",
    # Economic Indicators
    "Economic_typology_2015",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_2013",
    # Population Metrics
    #"CENSUS_2020_POP",
     # "ESTIMATES_BASE_2020",
    # 2020-2023 Metrics
    #"POP_ESTIMATE_2021",
     # "N_POP_CHG_2021", 
    #"BIRTHS_2021",
    #"DEATHS_2021",
      "NATURAL_CHG_2021", 
    "DOMESTIC_MIG_2021",  "R_BIRTH_2021", 
    "R_NATURAL_CHG_2021", "R_INTERNATIONAL_MIG_2021", "R_DOMESTIC_MIG_2021"
    #, "R_NET_MIG_2021"
    #,"INTERNATIONAL_MIG_2021",
    #"NET_MIG_2021",
    #"R_DEATH_2021"
]
pop_filtered=pop[pop_columns_to_keep]

In [8]:
un_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code",
     # "State", "Area_Name",
    # Economic Indicators
    #"Median_Household_Income_2022"
    #"Med_HH_Income_Percent_of_State_Total_2022",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2013",
    #"Metro_2023",
    # Employment Metrics over 24 years
    #"Civilian_labor_force_2023",
     "Employed_2023",
      # "Unemployed_2023", 
      "Unemployment_rate_2023"
]
un_filtered=un[un_columns_to_keep]

In [9]:
def correlated_pairs(df, threshold=0.7):
    df=df.select_dtypes(include=['number'])
    # Calculate correlations
    corr_matrix = df.corr()
    
    # Convert to long format, keeping only high correlations
    correlations = []
    for col1 in corr_matrix.columns:
        for col2 in corr_matrix.columns:
            if col1 < col2:  # Avoid duplicate pairs and self-correlations
                corr_value = corr_matrix.loc[col1, col2]
                if abs(corr_value) >= threshold:
                    correlations.append({
                        'col1': col1,
                        'col2': col2,
                        'correlation': corr_value
                    })
    
    # Sort by absolute correlation value
    result = pd.DataFrame(correlations)
    if len(result) > 0:
        return result.sort_values(by='correlation', key=abs, ascending=False)
    else:
        print(f"No correlations found above threshold of {threshold}")
        return result

In [10]:
#ed_filtered
#pov_filtered
#pop_filtered
#un_filtered
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [11]:
correlated_pairs(pov_filtered)

            col1            col2  correlation
0  MEDHHINC_2023  PCTPOVALL_2023    -0.762752

In [12]:
correlated_pairs(pop_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [13]:
correlated_pairs(un_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [14]:
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [16]:
ed_filtered = ed_filtered.rename(columns={'FIPS Code': 'FIPS'})
pop_filtered = pop_filtered.rename(columns={'FIPStxt': 'FIPS'})
un_filtered = un_filtered.rename(columns={'FIPS_Code': 'FIPS'})
pov_filtered = pov_filtered.rename(columns={'FIPS_Code': 'FIPS'})

# Merge all dataframes on 'FIPS'
merged = ed_filtered.merge(pop_filtered, on='FIPS')\
                       .merge(un_filtered, on='FIPS')\
                       .merge(pov_filtered, on='FIPS')
print(merged.shape)
correlated_pairs(merged)

(3195, 21)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.811720
3,MEDHHINC_2023,PCTPOVALL_2023,-0.762752
1,Employed_2023,NATURAL_CHG_2021,0.756382
2,MEDHHINC_2023,Percent of adults with a bachelor's degree or ...,0.728667