In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
ed = pd.read_excel('data/Education2023.xlsx',skiprows=3)
pop=pd.read_excel('data/PopulationEstimates.xlsx',skiprows=4)
pov=pd.read_excel('data/Poverty2023.xlsx',skiprows=4)
un=pd.read_excel('data/Unemployment2023.xlsx',skiprows=4)

In [51]:
ed_columns_to_keep = [
    "FIPS Code", "State", "Area name",  # Geographic Identifiers
    "2024 Urban Influence Code", 
    #"2023 Rural-urban Continuum Code",  # Urbanization & Influence
    # Educational Attainment, 2019-2023
    "Percent of adults who are not high school graduates, 2019-23",
    "Percent of adults who are high school graduates (or equivalent), 2019-23",
    "Percent of adults completing some college or associate degree, 2019-23",
    "Percent of adults with a bachelor's degree or higher, 2019-23",
    # Educational Attainment, 2008-2012
    # "Percent of adults who are not high school graduates, 2008-12",
    # "Percent of adults who are high school graduates (or equivalent), 2008-12",
    # "Percent of adults completing some college or associate degree, 2008-12",
    # "Percent of adults with a bachelor's degree or higher, 2008-12",
    # # Educational Attainment, 2000
    # "Percent of adults who are not high school graduates, 2000",
    # "Percent of adults who are high school graduates (or equivalent), 2000",
    # "Percent of adults completing some college or associate degree, 2000",
    # "Percent of adults with a bachelor's degree or higher, 2000",
    # # Educational Attainment, 1990
    # "Percent of adults who are not high school graduates, 1990",
    # "Percent of adults who are high school graduates (or equivalent), 1990",
    # "Percent of adults completing some college or associate degree, 1990",
    # "Percent of adults with a bachelor's degree or higher, 1990",
    # # Educational Attainment, 1980
    # "Percent of adults with less than a high school diploma, 1980",
    # "Percent of adults with a high school diploma only, 1980",
    # "Percent of adults completing some college (1-3 years), 1980",
    # "Percent of adults completing four years of college or higher, 1980",
    # # Educational Attainment, 1970
    # "Percent of adults with less than a high school diploma, 1970",
    # "Percent of adults with a high school diploma only, 1970",
    # "Percent of adults completing some college (1-3 years), 1970",
    # "Percent of adults completing four years of college or higher, 1970"
]
ed_filtered=ed[ed_columns_to_keep]

In [52]:
pov_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code", 
    #"Stabr", "Area_Name",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2024",
    # Economic Indicators/Poverty Metrics
    "MEDHHINC_2023", "PCTPOVALL_2023", 
    #"PCTPOV017_2023",
    #"PCTPOV517_2023", "PCTPOV04_2023"
]
pov_filtered=pov[pov_columns_to_keep]

In [53]:
pop_columns_to_keep = [
    # Geographic Identifiers
    "FIPStxt", "State", "Area_Name",
    # Economic Indicators
    "Economic_typology_2015",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_2013",
    # Population Metrics
    #"CENSUS_2020_POP",
     # "ESTIMATES_BASE_2020",
    # 2020-2023 Metrics
    #"POP_ESTIMATE_2021",
     # "N_POP_CHG_2021", 
    #"BIRTHS_2021",
    #"DEATHS_2021",
      "NATURAL_CHG_2021", 
    "DOMESTIC_MIG_2021",  "R_BIRTH_2021", 
    "R_NATURAL_CHG_2021", "R_INTERNATIONAL_MIG_2021", "R_DOMESTIC_MIG_2021"
    #, "R_NET_MIG_2021"
    #,"INTERNATIONAL_MIG_2021",
    #"NET_MIG_2021",
    #"R_DEATH_2021"
]
pop_filtered=pop[pop_columns_to_keep]

In [54]:
un_columns_to_keep = [
    # Geographic Identifiers
    "FIPS_Code",
     # "State", "Area_Name",
    # Economic Indicators
    #"Median_Household_Income_2022"
    #"Med_HH_Income_Percent_of_State_Total_2022",
    # Urbanization & Influence
    #"Rural_Urban_Continuum_Code_2023", "Urban_Influence_Code_2013",
    #"Metro_2023",
    # Employment Metrics over 24 years
    #"Civilian_labor_force_2023",
     "Employed_2023",
      # "Unemployed_2023", 
      "Unemployment_rate_2023"
]
un_filtered=un[un_columns_to_keep]

In [55]:
def correlated_pairs(df, threshold=0.7):
    df=df.select_dtypes(include=['number'])
    # Calculate correlations
    corr_matrix = df.corr()
    
    # Convert to long format, keeping only high correlations
    correlations = []
    for col1 in corr_matrix.columns:
        for col2 in corr_matrix.columns:
            if col1 < col2:  # Avoid duplicate pairs and self-correlations
                corr_value = corr_matrix.loc[col1, col2]
                if abs(corr_value) >= threshold:
                    correlations.append({
                        'col1': col1,
                        'col2': col2,
                        'correlation': corr_value
                    })
    
    # Sort by absolute correlation value
    result = pd.DataFrame(correlations)
    if len(result) > 0:
        return result.sort_values(by='correlation', key=abs, ascending=False)
    else:
        print(f"No correlations found above threshold of {threshold}")
        return result

In [56]:
#ed_filtered
#pov_filtered
#pop_filtered
#un_filtered
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [57]:
correlated_pairs(pov_filtered)

            col1            col2  correlation
0  MEDHHINC_2023  PCTPOVALL_2023    -0.762752

In [58]:
correlated_pairs(pop_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [59]:
correlated_pairs(un_filtered)

No correlations found above threshold of 0.7

Empty DataFrame
Columns: []
Index: []

In [60]:
correlated_pairs(ed_filtered)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.807936

In [61]:
ed_filtered = ed_filtered.rename(columns={'FIPS Code': 'FIPS'})
pop_filtered = pop_filtered.rename(columns={'FIPStxt': 'FIPS'})
un_filtered = un_filtered.rename(columns={'FIPS_Code': 'FIPS'})
pov_filtered = pov_filtered.rename(columns={'FIPS_Code': 'FIPS'})

# Merge all dataframes on 'FIPS'
merged = ed_filtered.merge(pop_filtered, on='FIPS')\
                       .merge(un_filtered, on='FIPS')\
                       .merge(pov_filtered, on='FIPS')
print(merged.shape)
correlated_pairs(merged)

(3195, 21)

,col1,col2,correlation
0,Percent of adults who are high school graduate...,Percent of adults with a bachelor's degree or ...,-0.811720
3,MEDHHINC_2023,PCTPOVALL_2023,-0.762752
1,Employed_2023,NATURAL_CHG_2021,0.756382
2,MEDHHINC_2023,Percent of adults with a bachelor's degree or ...,0.728667

#### Null values

In [62]:

null_counts = merged.isnull().sum()
print(null_counts[null_counts != 0])

2024 Urban Influence Code    52
Economic_typology_2015       63
Employed_2023                 9
Unemployment_rate_2023        9
dtype: int64

In [63]:

rows_with_nulls = merged[merged['2024 Urban Influence Code'].isnull()]
# rows_with_nulls = merged[merged.isnull().any(axis=1)]

print(rows_with_nulls.to_string())

       FIPS State_x             Area name  2024 Urban Influence Code  Percent of adults who are not high school graduates, 2019-23  Percent of adults who are high school graduates (or equivalent), 2019-23  Percent of adults completing some college or associate degree, 2019-23  Percent of adults with a bachelor's degree or higher, 2019-23 State_y             Area_Name  Economic_typology_2015  NATURAL_CHG_2021  DOMESTIC_MIG_2021  R_BIRTH_2021  R_NATURAL_CHG_2021  R_INTERNATIONAL_MIG_2021  R_DOMESTIC_MIG_2021  Employed_2023  Unemployment_rate_2023  MEDHHINC_2023  PCTPOVALL_2023
0         0      US         United States                        NaN                                                     10.607067                                                                 26.194137                                                               28.197846                                                      35.000950      US         United States                     NaN          146036.0                0.0          10.8                 0.4                       1.1                  0.0    160623678.0                     3.6        77719.0            12.5
1      1000      AL               Alabama                        NaN                                                     11.871959                                                                 30.344616                                                               30.028286                                                      27.755139      AL               Alabama                     NaN          -11951.0            27715.0          11.3                -2.4                       0.4                  5.5      2250472.0                     2.5        62248.0            15.7
69     2000      AK                Alaska                        NaN                                                      6.528757                                                                 28.941408                                                               33.287559                                                      31.242276      AK                Alaska                     NaN            4123.0            -2948.0          12.9                 5.6                       1.2                 -4.0       342005.0                     4.2        88696.0            10.5
100    4000      AZ               Arizona                        NaN                                                     10.911001                                                                 23.477843                                                               33.000824                                                      32.610332      AZ               Arizona                     NaN           -4583.0            82290.0          10.5                -0.6                       1.1                 11.4      3546508.0                     3.9        77158.0            12.6
116    5000      AR              Arkansas                        NaN                                                     11.442382                                                                 34.386203                                                               29.060040                                                      25.111375      AR              Arkansas                     NaN           -5253.0            17806.0          11.6                -1.7                       0.4                  5.9      1332876.0                     3.3        58748.0            15.4
192    6000      CA            California                        NaN                                                     15.400748                                                                 20.400707                                                               27.695487                                                      36.503058      CA            California                     NaN           67325.0          -458862.0          10.5                 1.7                       1.1                -11.7     18388329.0                     4.8        95473.0            12.0
251    8000      CO              Colorado                        NaN                                                      7.241390                                                                 20.082114                                                               27.948508                                                      44.727988      CO              Colorado                     NaN           15656.0             5404.0          10.7                 2.7                       0.7                  0.9      3128115.0                     3.2        92790.0             9.4
316    9000      CT           Connecticut                        NaN                                                      8.668051                                                                 25.548028                                                               23.839007                                                      41.944914      CT           Connecticut                     NaN            -629.0            19032.0           9.5                -0.2                       1.7                  5.3      1822088.0                     3.8        91477.0            10.2
326   10000      DE              Delaware                        NaN                                                      8.606473                                                                 29.023059                                                               27.092993                                                      35.277475      DE              Delaware                     NaN           -1054.0            13284.0          10.2                -1.1                       0.9                 13.3       486404.0                     4.0        81615.0            10.8
330   11000      DC  District of Columbia                        NaN                                                      7.153297                                                                 14.517161                                                               14.765919                                                      63.563622      DC  District of Columbia                     NaN            2671.0            -6551.0          12.7                 4.0                       2.6                 -9.8       378714.0                     4.9       104643.0            15.2
332   12000      FL               Florida                        NaN                                                     10.368492                                                                 27.421577                                                               28.999636                                                      33.210295      FL               Florida                     NaN          -42447.0           244619.0           9.6                -2.0                       2.2                 11.3     10668886.0                     2.9        73283.0            12.4
400   13000      GA               Georgia                        NaN                                                     11.048082                                                                 26.894828                                                               27.852120                                                      34.204970      GA               Georgia                     NaN           11775.0            35341.0          11.3                 1.1                       0.9                  3.3      5135833.0                     3.2        74521.0            13.7
560   15000      HI                Hawaii                        NaN                                                      7.100786                                                                 26.652235                                                               30.777310                                                      35.469669      HI                Hawaii                     NaN            3376.0            -9982.0          10.7                 2.3                       1.4                 -6.9       656336.0                     3.0        96716.0            10.2
565   16000      ID                 Idaho                        NaN                                                      8.323428                                                                 25.923658                                                               34.568627                                                      31.184286      ID                 Idaho                     NaN            4709.0            51524.0          11.6                 2.5                       0.4                 27.5       931748.0                     3.1        74859.0            10.1
610   17000      IL              Illinois                        NaN                                                      9.742090                                                                 25.261990                                                               27.810428                                                      37.185492      IL              Illinois                     NaN            3503.0          -115656.0          10.4                 0.3                       0.9                 -9.1      6150672.0                     4.5        80346.0            11.6
713   18000      IN               Indiana                        NaN                                                      9.774540                                                                 32.816719                                                               28.608599                                                      28.800141      IN               Indiana                     NaN            -156.0            16132.0          11.4                 0.0                       0.9                  2.4      3288017.0                     3.3        69458.0            12.2
806   19000      IA                  Iowa                        NaN                                                      6.779754                                                                 30.365629                                                               31.991436                                                      30.863182      IA                  Iowa                     NaN             388.0             1805.0          11.2                 0.1                       1.2                  0.6      1659106.0                     2.9        71662.0            11.1
906   20000      KS                Kansas                        NaN                                                      8.099910                                                                 25.609931                                                               31.134391                                                      35.155768      KS                Kansas                     NaN            1344.0            -4975.0          11.6                 0.5                       0.7                 -1.7      1470936.0                     2.7        70316.0            11.2
1012  21000      KY              Kentucky                        NaN                                                     11.466797                                                                 32.705122                                                               28.836086                                                      26.991996      KY              Kentucky                     NaN           -7037.0             3216.0          11.4                -1.6                       0.4                  0.7      1941994.0                     4.2        61099.0            16.1
1133  22000      LA             Louisiana                        NaN                                                     13.098609                                                                 32.541426                                                               27.809272                                                      26.550693      LA             Louisiana                     NaN             156.0           -28324.0          12.3                 0.0                       0.7                 -6.1      2000152.0                     3.7        58273.0            18.9
1198  23000      ME                 Maine                        NaN                                                      5.511445                                                                 30.516806                                                               28.627229                                                      35.344521      ME                 Maine                     NaN           -4526.0            17938.0           8.4                -3.3                       0.7                 13.1       667619.0                     2.9        73463.0            10.5
1215  24000      MD              Maryland                        NaN                                                      8.956652                                                                 23.735534                                                               24.571447                                                      42.736366      MD              Maryland                     NaN            8436.0           -17683.0          10.9                 1.4                       1.5                 -2.9      3117270.0                     2.1        98568.0             9.7
1240  25000      MA         Massachusetts                        NaN                                                      8.597671                                                                 22.844451                                                               21.932898                                                      46.624980      MA         Massachusetts                     NaN            4789.0           -26269.0           9.5                 0.7                       2.4                 -3.8      3625293.0                     3.4        99750.0            10.5
1255  26000      MI              Michigan                        NaN                                                      8.107727                                                                 28.195932                                                               31.932879                                                      31.763462      MI              Michigan                     NaN          -12415.0           -29881.0          10.2                -1.2                       0.7                 -3.0      4812421.0                     3.9        69097.0            13.5
1339  27000      MN             Minnesota                        NaN                                                      6.148312                                                                 23.520791                                                               31.502441                                                      38.828456      MN             Minnesota                     NaN           11616.0           -10887.0          11.0                 2.0                       1.0                 -1.9      3012707.0                     2.8        85070.0             9.2
1427  28000      MS           Mississippi                        NaN                                                     13.361735                                                                 29.905375                                                               32.574260                                                      24.158630      MS           Mississippi                     NaN           -6699.0            -3456.0          11.8                -2.3                       0.2                 -1.2      1192015.0                     3.2        54386.0            18.3
1510  29000      MO              Missouri                        NaN                                                      8.411090                                                                 30.336992                                                               29.355020                                                      31.896898      MO              Missouri                     NaN           -6545.0            16811.0          11.2                -1.1                       0.6                  2.7      2993587.0                     3.0        68484.0            12.0
1626  30000      MT               Montana                        NaN                                                      5.429067                                                                 27.878650                                                               32.153284                                                      34.538999      MT               Montana                     NaN           -1310.0            20376.0           9.9                -1.2                       0.6                 18.6       557509.0                     2.9        70939.0            11.8
1683  31000      NE              Nebraska                        NaN                                                      7.925249                                                                 25.130904                                                               32.823951                                                      34.119896      NE              Nebraska                     NaN            4840.0            -6037.0          12.4                 2.5                       0.8                 -3.1      1030880.0                     2.3        74727.0            10.2
1777  32000      NV                Nevada                        NaN                                                     12.631091                                                                 27.434234                                                               32.549847                                                      27.384828      NV                Nevada                     NaN             971.0            25387.0          10.7                 0.3                       1.2                  8.1      1520260.0                     5.1        76332.0            12.2
1795  33000      NH         New Hampshire                        NaN                                                      5.944876                                                                 27.006744                                                               27.231769                                                      39.816611      NH         New Hampshire                     NaN           -1665.0             8461.0           8.7                -1.2                       1.1                  6.1       742886.0                     2.2        97031.0             7.3
1806  34000      NJ            New Jersey                        NaN                                                      9.300442                                                                 25.745880                                                               22.043141                                                      42.910537      NJ            New Jersey                     NaN           14030.0           -33561.0          10.6                 1.5                       1.6                 -3.6      4615722.0                     4.4        99716.0             9.7
1828  35000      NM            New Mexico                        NaN                                                     12.277472                                                                 25.729170                                                               31.791545                                                      30.201813      NM            New Mexico                     NaN           -3207.0            -1206.0          10.1                -1.5                       1.1                 -0.6       928983.0                     3.8        62286.0            16.9

In [64]:

rows_w= merged[merged['Economic_typology_2015'].isnull() & merged['2024 Urban Influence Code'].notnull()]

print(rows_w.to_string())

     FIPS State_x                                                    Area name  2024 Urban Influence Code  Percent of adults who are not high school graduates, 2019-23  Percent of adults who are high school graduates (or equivalent), 2019-23  Percent of adults completing some college or associate degree, 2019-23  Percent of adults with a bachelor's degree or higher, 2019-23 State_y                                       Area_Name  Economic_typology_2015  NATURAL_CHG_2021  DOMESTIC_MIG_2021  R_BIRTH_2021  R_NATURAL_CHG_2021  R_INTERNATIONAL_MIG_2021  R_DOMESTIC_MIG_2021  Employed_2023  Unemployment_rate_2023  MEDHHINC_2023  PCTPOVALL_2023
75   2063      AK                                  Chugach Census Area, Alaska                        9.0                                                      4.320099                                                                 25.591442                                                               40.506069                                                      29.582390      AK                             Chugach Census Area                     NaN              43.0             -154.0          11.4                 6.1                       1.1                -21.9         3297.0                     4.7        95180.0             8.7
76   2066      AK                             Copper River Census Area, Alaska                        9.0                                                      9.016839                                                                 26.507333                                                               36.121673                                                      28.354155      AK                        Copper River Census Area                     NaN              -5.0               11.0           9.6                -1.9                      -0.4                  4.2         1273.0                     7.6        69092.0            14.2
317  9110      CT                         Capitol Planning Region, Connecticut                        1.0                                                      8.834788                                                                 25.091329                                                               24.585005                                                      41.488878      CT                         Capitol Planning Region                     NaN            -275.0             5949.0           9.5                -0.3                       1.8                  6.2            NaN                     NaN        90965.0             9.8
318  9120      CT              Greater Bridgeport Planning Region, Connecticut                        4.0                                                     12.743866                                                                 24.829560                                                               20.768941                                                      41.657632      CT              Greater Bridgeport Planning Region                     NaN             695.0              552.0          10.0                 2.1                       2.8                  1.7            NaN                     NaN        92858.0            11.3
319  9130      CT  Lower Connecticut River Valley Planning Region, Connecticut                        1.0                                                      4.772353                                                                 24.530771                                                               25.245970                                                      45.450906      CT  Lower Connecticut River Valley Planning Region                     NaN            -425.0             2485.0           7.8                -2.4                       0.7                 14.3            NaN                     NaN        99807.0             7.1
320  9140      CT                Naugatuck Valley Planning Region, Connecticut                        4.0                                                      9.666953                                                                 29.548109                                                               26.996335                                                      33.788603      CT                Naugatuck Valley Planning Region                     NaN            -203.0             2450.0           9.5                -0.5                       1.1                  5.4            NaN                     NaN        81392.0            11.4
321  9150      CT        Northeastern Connecticut Planning Region, Connecticut                        2.0                                                      7.894885                                                                 35.218567                                                               30.727524                                                      26.159024      CT        Northeastern Connecticut Planning Region                     NaN            -276.0              594.0           8.3                -2.9                       0.3                  6.2            NaN                     NaN        88129.0             7.6
322  9160      CT                 Northwest Hills Planning Region, Connecticut                        2.0                                                      5.939750                                                                 28.076449                                                               26.593880                                                      39.389920      CT                 Northwest Hills Planning Region                     NaN            -346.0              995.0           7.8                -3.1                       0.6                  8.8            NaN                     NaN        91206.0             8.4
323  9170      CT       South Central Connecticut Planning Region, Connecticut                        4.0                                                      8.333312                                                                 27.950872                                                               22.644328                                                      41.071487      CT       South Central Connecticut Planning Region                     NaN            -297.0             3509.0           9.8                -0.5                       1.8                  6.2            NaN                     NaN        80953.0            12.5
324  9180      CT        Southeastern Connecticut Planning Region, Connecticut                        4.0                                                      7.357298                                                                 29.170979                                                               28.834642                                                      34.637081      CT        Southeastern Connecticut Planning Region                     NaN            -594.0              543.0           8.9                -2.1                       1.2                  1.9            NaN                     NaN        82733.0            12.4
325  9190      CT             Western Connecticut Planning Region, Connecticut                        4.0                                                      8.317610                                                                 18.020372                                                               18.616184                                                      55.045833      CT             Western Connecticut Planning Region                     NaN            1092.0             1955.0           9.8                 1.8                       2.5                  3.1            NaN                     NaN       121285.0             8.0

These FIPS codes correspond to states not counties, see  https://transition.fcc.gov/oet/info/maps/census/fips/fips.txt

Other 9 rows acounted for, either census areas or planning regions